body {
    text-align: center;
    background-color: #282828;
}

.nameMain {
    font-size: 1.6em;
    margin: 0.2em;
    font-family: 'Berkshire Swash', cursive;
    text-align: right;
    color: silver;
}

.frameApp,
#pixelCanvas {
    border: 1px solid black;
    padding: 0;
}

#pixelCanvas {
    border-collapse: collapse;
    margin: 0 auto;
    background-color: white;
}
.row,
.cell {
    padding: 0;
}

.row {
    height: 10px;
}

.cell {
    width: 10px;
}

.sizeVal {
    width: 6em;
}

#colorPicker {
  width: 1.2em;
  height: 1.5em;
}

.labels {
    margin-right: 1em;
    color: #FFF;
}

.tool {
    display: inline-block;
    margin: 0 2em;   
}

.mainTool {
    text-align: left;
    width: 100%;
    background-color: #3B3B3B;
    border-bottom: 1px solid black;
}
.frameCanvas {    
    padding: 5px;
    background-color: grey;    
}
.frameApp {
    border-radius: 5px;
    border: 2px solid grey;
}
#author {
    color:silver;
}